#build
build/
bin/
*.o
*.so
*.dll
*.exe
*.pdb

external/Vulkan-SDK

*/compile_command.json
src/**/.cache/
*/.cache
vgcore.*
gmon.out
inga_cmd_history

.*.*~
*.*~
*.vim
*.swp
*.swo
*.log
*/tags
.cache/
*/*.log
*/.cache
